<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lenguages</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/behavior.js"></script>
    <title>Aptitudes</title>
</head>

<body class="works_on_smartphone">
<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <img src="../img/colorhand.png" alt="logo" width=50px>
    </label>

    <a href="/" class="menu-item blue"><i> &#916;&#967 </i></a>
    <a href="/aboutme" class="menu-item green"> <i>About Me</i> </a>
    <a href="/experience" class="menu-item orange"> <i> Experience</i> </a>
    <a href="/education" class="menu-item red"> <i>Education</i> </a>
    <a href="/leng" class="menu-item purple"> <i>Lenguages</i></a>
    <a href="/aptitud" class="menu-item lightblue"> <i> Aptitudes</i> </a>
</nav>

<div class='masthead'>
    <p class='masthead-intro'>My developement knowleage</p>
    <h1 class='masthead-heading'>APTITUDES</h1>
    <img src="../img/code.png" alt="photo" class=foto>

</div>

<article>
    <h1>&#916;&#967 </h1>
    <hr width="600px" color="darkblue">
    <section class=parrafotitulo2>
        <div class="aptitud">
            <img src="../img/responsive_web_development.png" alt="photo" class=foto>
            <p> <b>Responsive Design</b></p>
            <p><i> with CSS and Bootstrap: <br>
                    Website that is responsive to the scale of any devices.</i><br>
            </p>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 70%;"></span>
                </div>
            </div>
        </div>

        <div class="aptitud">
            <img src="../img/cms.png" alt="photo" class=foto>
            <p> <b>CMS</b></p>
            <p><i> PHP, MySQL <br>
                    Contents Management System that gives flexibility <br>
                     manage website contents by yourself.</i><br>
            </p>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 50%;"></span>
                </div>
            </div>
        </div>

        <div class="aptitud">
            <img src="../img/mean.png" alt="photo" class=foto>
            <p> <b>MEAN</b></p>
            <p><i> MongoDB, Express.js, Angular.js, and Node.js <br>

                    Building a Dynamic Web Application.</i><br>
            </p>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 20%;"></span>
                </div>
            </div>
        </div>

        <div class="aptitud">
            <img src="../img/github-icon.png" alt="photo" class=foto>
            <p> <b>Version Control</b></p>
            <p><i> GitHub <br>
                Continuous version control to manage projects timely manner.</i><br>
            </p>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 70%;"></span>
                </div>
            </div>
        </div>

    </section>
</article>


<footer>
    </section>
    <div class="contenidoiconos">

        <div class="iconosredes">
            <div class="ajusteicono">
                <a href="https://twitter.com/Dianaximenacm" target="_blank"><img src="../img/twitter-icon.png"
                        alt="icono_twitter" srcset=""></a>
                <a href="https://github.com/dianaximenacm/" target="_blank"> <img src="../img/github-icon.png"
                        alt="icono_github" srcset=""></a>
                <a href="https://www.linkedin.com/in/dianaximenacm/" target="_blank"> <img
                        src="../img/linkedIn_icon.png" alt="icono_facebook" srcset=""></a>

            </div>
            <div class="textofooter">
                <p> ©COPYRIGHT 2020. Made by <a href="https://twitter.com/@Dianaximenacm" target="_blank">Diana Chitiva
                        <br>
                        All rights reserved. Bogotá-Colombia
                </p>

            </div>
        </div>
    </div>

</footer>

</body>

</html>