<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/behavior.js"></script>
    <title>Experience</title>
</head>

<body class="works_on_smartphone">
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <img src="../img/colorhand.png" alt="logo" width=50px>
        </label>

        <a href="/" class="menu-item blue"><i> &#916;&#967 </i></a>
        <a href="/aboutme" class="menu-item green"> <i>About Me</i> </a>
        <a href="/experience" class="menu-item orange"> <i> Experience</i> </a>
        <a href="/education" class="menu-item red"> <i>Education</i> </a>
        <a href="/leng" class="menu-item purple"> <i>Lenguages</i></a>
        <a href="/aptitud" class="menu-item lightblue"> <i> Aptitudes</i> </a>
    </nav>

    <div class='masthead'>
        <p class='masthead-intro'> Welcome to my path experience in programming</p>
        <h1 class='masthead-heading'> WEB <br>DEVELOPMENT</h1>
    </div>
    <article class=bloquetitulo2>
        <h1>&#916;&#967 </h1>
        <hr width="600px" color="darkblue">
        <h1> MY PROJECTS</h1>
        <section class=parrafotitulo2>
            <section class="content_two">
                <div class="container">
                    <div class="card">
                        <img id="smart_thumbnail" class="small" src="../img/page1.png" alt="page1" />
                        <b>
                            <h4> Holberton School</h4>
                        </b>
                        <p>
                            Type: Website <br>
                            Type of work: Individual <br>
                            Year of Creation: 2019 <br>
                            Description: first Website ever<br>
    
    
                        </p>
                        <a href="https://dianaximenacm.github.io/first-page/" target="_blank">Check this project</a>
                    </div>
                    <div class="card">
                        <img id="smart_thumbnail" class="small" src="../img/page2.gif" alt="page1" />
                        <b>
                            <h4> Fandom Page : Doctor Stone </h4>
                        </b>
                        <p>
                            Type: Website <br>
                            Type of work: Individual <br>
                            Year of Creation: 2020 <br>
                            Description: Fandom about an anime <br>
    
    
                        </p>
                        <a href="https://github.com/dianaximenacm/FandomPage-DoctorStone" target="_blank">Check this project</a>
                    </div>
                    <div class="card">
                        <img id="smart_thumbnail" class="small" src="../img/Ada-Lovelace-first-programmer.jpg" alt="page1" />
                        <b>
                            <h4> Women in the history</h4>
                        </b>
                        <p>
                            Type: Boostrap Website  <br>
                            Type of work: Individual <br>
                            Year of Creation: 2020 <br>
                            Description: Using Bootstrap<br>
    
    
                        </p>
                        <a href="https://dianaximenacm.github.io/women-in-the-history/
                        " target="_blank">Check this project</a>
                    </div>
                    
                </div>
            </section>

    </article>
<footer>
        <div class="contenidoiconos">
            <div class="iconosredes">
                <div class="ajusteicono">
                    <a href="https://twitter.com/Dianaximenacm" target="_blank"><img
                            src="../img/twitter-icon.png" alt="icono_twitter" srcset=""></a>
                    <a href="https://github.com/dianaximenacm/" target="_blank"> <img
                            src="../img/github-icon.png" alt="icono_github" srcset=""></a>
                    <a href="https://www.linkedin.com/in/dianaximenacm/" target="_blank"> <img
                            src="../img/linkedIn_icon.png" alt="icono_facebook" srcset=""></a>

                </div>
                <div class="textofooter">
                    <p> ©COPYRIGHT 2020.  Made by <a href="https://twitter.com/@Dianaximenacm" target="_blank">Diana Chitiva
                        <br>
                       All rights reserved. Bogotá-Colombia
                    </p>
                   
                </div>
            </div>
        </div>

    </footer>

</body>

</html>
















