<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/behavior.js"></script>
    <title>Home</title>
</head>
<body>
  <header>
      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open"
        >
         <img src="../img/colorhand.png" alt="logo" width=50px>
       </label>
     
        <a href="/" class="menu-item blue"><i> &#916;&#967 </i></a>
        <a href="/aboutme" class="menu-item green"> <i>About Me</i> </a> 
        <a href="/experience" class="menu-item orange"> <i> Experience</i> </a>
        <a href="/education"class="menu-item red"> <i>Education</i> </a>
        <a href="/leng" class="menu-item purple"> <i>Lenguages</i></a>
        <a href="/aptitud" class="menu-item lightblue"> <i> Aptitudes</i> </a>
    </nav>

  </header>
    <footer>
        <div class="contenidoiconos">
            <!-- Linea con hr -->
            <hr width="85%" color="darkblue">
            <div class="iconosredes">
                <div class="ajusteicono">
                    <a href="https://twitter.com/Dianaximenacm" target="_blank"><img src="../img/twitter-icon.png"
                            alt="icono_twitter" srcset=""></a>
                    <a href="https://github.com/dianaximenacm/" target="_blank"> <img src="../img/github-icon.png"
                            alt="icono_github" srcset=""></a>
                    <a href="https://www.linkedin.com/in/dianaximenacm/" target="_blank"> <img
                            src="../img/linkedIn_icon.png" alt="icono_facebook" srcset=""></a>

                </div>
                <div class="textofooter">
                    <p> ©COPYRIGHT 2020. Made by <a href="https://twitter.com/@Dianaximenacm" target="_blank">Diana
                            Chitiva
                            <br>
                            All rights reserved. Bogotá-Colombia
                    </p>

                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </body>

</html>