<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lenguages</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About Me</title>
</head>
<body class="works_on_smartphone">

<body class="works_on_smartphone"></body>
<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <img src="../img/colorhand.png" alt="logo" width=50px>
    </label>

    <a href="/" class="menu-item blue"><i> &#916;&#967 </i></a>
    <a href="/aboutme" class="menu-item green"> <i>About Me</i> </a>
    <a href="/experience" class="menu-item orange"> <i> Experience</i> </a>
    <a href="/education" class="menu-item red"> <i>Education</i> </a>
    <a href="/leng" class="menu-item purple"> <i>Lenguages</i></a>
    <a href="/aptitud" class="menu-item lightblue"> <i> Aptitudes</i> </a>
</nav>

<div class='masthead'>
    <p class='masthead-intro'>My linguistic knowleage</p>
    <h1 class='masthead-heading'>LENGUAGES</h1>
    <img src="../img/leng.PNG" alt="photo" class=foto>

</div>
<article>
    <h1>&#916;&#967 </h1>
    <hr width="600px" color="darkblue">
    <section class=parrafotitulo2>
        <div class="aptitud">
        <p> <b>SPANISH</b></p>
        <p><i>NATIVE</i><br>
        </p>
        <div class="wrapper">
            <div class="progress-bar">
                <span class="progress-bar-fill" style="width: 100%;"></span>
            </div>
        </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class=parrafotitulo2>
        <div class="aptitud">

        <p> <b>ENGLISH</b></p>
        <p><i>ADVANCE</i><br>
        </p>
        <div class="wrapper">
            <div class="progress-bar">
                <span class="progress-bar-fill" style="width: 90%;"></span>
            </div>
        </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class=parrafotitulo2>
        <div class="aptitud">
        <p> <b>FRENCH</b></p>
        <p><i>INTERMEDIATE</i><br>
        </p>
        <div class="wrapper">
            <div class="progress-bar">
                <span class="progress-bar-fill" style="width: 60%;"></span>
            </div>
        </div>
        </div>

    </section>
</article>


<footer>
    </section>
    <div class="contenidoiconos">

        <div class="iconosredes">
            <div class="ajusteicono">
                <a href="https://twitter.com/Dianaximenacm" target="_blank"><img src="../img/twitter-icon.png"
                        alt="icono_twitter" srcset=""></a>
                <a href="https://github.com/dianaximenacm/" target="_blank"> <img src="../img/github-icon.png"
                        alt="icono_github" srcset=""></a>
                <a href="https://www.linkedin.com/in/dianaximenacm/" target="_blank"> <img
                        src="../img/linkedIn_icon.png" alt="icono_facebook" srcset=""></a>

            </div>
            <div class="textofooter">
                <p> ©COPYRIGHT 2020. Made by <a href="https://twitter.com/@Dianaximenacm" target="_blank">Diana Chitiva
                        <br>
                        All rights reserved. Bogotá-Colombia
                </p>

            </div>
        </div>
    </div>

</footer>

</body>

</html>